@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/variable/pretendardvariable.css");

/* html, body, [class*="css"] {
/*     text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 18px;
/*     color : black; */
}
 */

div[role="listbox"] ul {
    background-color: yellow;
}
input.listbox {
  caret-color: #253347;
}
